<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Automation test suit">
	<test name="Free CRM TestCases">
		<classes>

			<class name="com.crm.qa.TestCases.LoginPageTest" />
			<class name="com.crm.qa.TestCases.HomePageTest" />
			<!-- <class name="com.crm.qa.TestCases.ContactsPageTest" /> -->

		</classes>
	</test>
</suite> 